.video-box {
    min-height: 150px;
    min-width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}
.video-box-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #000;
    gap: 10px;
}
