@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono"),
    url("./fonts/IBMPlexMono-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
  font-family: "IBMPlexMono";
  src: local("IBMPlexMono"),
    url("./fonts/IBMPlexMono-Regular.ttf") format("truetype");
    font-weight: normal;
}

*{
  font-family: "IBMPlexMono";
}
h1, h2, h3, h4{
  color: #1E2852;
}
.orange{
  color: orangered;
}
.tj{
  text-align: justify;
}
.big-text{
  font-size: 4rem;
}

.App {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.in,
.btn {
    height: 45px;
    width: 100px;
    border-radius: 4px;
    outline: none;
    padding: 4px;
    box-sizing: border-box;
}
.in{
    border: 2px solid #000;
    font-size: 28px;
    text-align: center;
}
.btn-color {
  background-color: #128f5f;
  color: #fff;
  height: 45px;
  width: 100px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.column{
  flex-direction: column;
}
.space{
  width: 100%;
  height: 100px;
}
.grid1{
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
  box-sizing: border-box;
}
.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  box-sizing: border-box;
}
.h-100{
  height: 100vh;
}
.h-100p{
  height: 100%;
}
.h-50{
  height: 50vh;
}
.p-20{
  padding: 20px;
}
.w-50{
  width: 50%;
}