.image-box {
    min-height: 150px;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}

.image-box-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #000;
}


#color {
    display: none;
}

@media only screen and (max-width: 400px) {
    .image-box-row-input-row {
        flex-direction: column;
        height: 150px;
    }
    .invisible-mobile {
        display: none;
    }
}