.navbar{
    background-color: #FF4300;
    .container-fluid{
        a{
            h1{
                font-weight: bold;
                color: #fff;
            }
        }
    }
    .nav-content{
        img{
            width: 60px;
            height: 60px;
            margin: 5px;
        }
    }
}